<!DOCTYPE html>
<html>
<head>
  <title>Administrator Dashboard</title>
</head>
<body>
<h1>Welcome to Administrator Dashboard</h1>


<p id="greetingMessage"></p>

<ul>
  <li><a href='/api/users/admin_user_management.html'>User Management</a></li>
  <li><a href='/api/users/admin_view_users.html'>View All Users</a></li>
  <li><a href='/api/user_tournaments/admin_registration_approval.html'>Approve Tournament Registrations</a></li>
  <li><a href='/api/matches/admin_export_match_info.html'>Export Match Information</a></li>
  <li><a href='#' id="updateAccountLink">Update Account Information</a></li>
</ul>


<script>

  var urlParams = new URLSearchParams(window.location.search);
  var userId = urlParams.get('userId');


  fetch("/api/users/get_user_by_id/" + userId)
          .then(response => {
            if (response.ok) {
              return response.json();
            } else {
              throw new Error('Failed to fetch user details');
            }
          })
          .then(user => {

            document.getElementById("greetingMessage").textContent = "Greetings, " + user.username + "!";
          })
          .catch(error => {
            console.error("Error fetching user details:", error);
            // Handle error
            document.getElementById("greetingMessage").textContent = "Failed to fetch user details";
          });


  document.getElementById("updateAccountLink").addEventListener("click", function(event) {
    event.preventDefault();

    var updateAccountUrl = '/api/users/update_account.html?userId=' + userId;


    window.location.href = updateAccountUrl;
  });

</script>


</body>
</html>
