<!DOCTYPE html>
<html>
<head>
  <title>Export Match Information</title>
</head>
<body>
<h1>Export Match Information</h1>
<p>Save filtered lists with match information in several formats:</p>
<!-- Add options for exporting match information -->
<form action="/export_match_info" method="post">
  <input type="checkbox" id="csvExport" name="csvExport" value="csv"> Export as CSV<br>
  <input type="checkbox" id="txtExport" name="txtExport" value="txt"> Export as TXT<br>
  <button type="submit">Export</button>
</form>
</body>
</html>
