<!DOCTYPE html>
<html>
<head>
  <title>User Management</title>
</head>
<body>
<h1>User Management</h1>
<p>Perform CRUD operations for user accounts:</p>


<table border="1">
  <tr>
    <th>User ID</th>
    <th>Username</th>
    <th>Email</th>
    <th>Role</th>
  </tr>

  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.role}"></td>
  </tr>
</table>

<button onclick="window.location.href='/api/users/create_user.html'">Create User</button>
<button onclick="window.location.href='/api/users/update_user.html'">Update User</button>
<button onclick="window.location.href='/api/users/delete_user.html'">Delete User</button>

</body>
</html>
