<!DOCTYPE html>
<html>
<head>
  <title>Administrator Dashboard</title>
</head>
<body>
<h1>Welcome to Administrator Dashboard</h1>
<ul>
  <li><a href="/templates/admin_user_management.htmlement.html">User Management</a></li>
  <li><a href="/templates/admin_view_users.htmlusers.html">View All Users</a></li>
  <li><a href="/templates/admin_export_match_info.html_info.html">Export Match Information</a></li>
  <li><a href="/templates/update_account.htmlcount.html">Update Account Information</a></li>
</ul>
</body>
</html>
