<!DOCTYPE html>
<html>
<head>
  <title>Player Dashboard</title>
</head>
<body>
<h1>Welcome to Player Dashboard</h1>
<img class="img-fluid" src="https://cdn.discordapp.com/attachments/1064630844024692820/1222643910208127057/New_Bitmap_Image_2.bmp?ex=6616f6df&is=660481df&hm=c6fc68ecc25b041549d7337860ceb2669f61f3dae1ba8e9b1f0d753135656e3a&" alt="">

<ul>
  <li><a href="/templates/tournament_registration.html">Tournament Registration</a></li>
  <li><a href="/templates/schedule.html">View Tour Schedule</a></li>
  <li><a href="/templates/match_score.html">View Match Score</a></li>
  <li><a href="/templates/update_account.html">Update Account Information</a></li>
</ul>
</body>
</html>
