<!DOCTYPE html>
<html>
<head>
  <title>Referee Dashboard</title>
</head>
<body>
<h1>Welcome to Referee Dashboard</h1>

<p id="greetingMessage"></p>

<ul>
  <li><a href='/api/referee-schedules/referee_own_program.html' id="ownScheduleUrl">View Own Program</a></li>
  <li><a href='/api/users/referee_view_players.html'>View Players</a></li>
  <li><a href='/api/matches/manage_match_score.html' id="manageScoreUrl">Manage Match Scores</a></li>
  <li><a href='/api/users/update_account.html' id="updateAccountLink">Update Account Information</a></li>
</ul>

<script>

  var urlParams = new URLSearchParams(window.location.search);
  var userId = urlParams.get('userId');

  fetch("/api/users/get_user_by_id/" + userId)
          .then(response => {
            if (response.ok) {
              return response.json();
            } else {
              throw new Error('Failed to fetch user details');
            }
          })
          .then(user => {
            document.getElementById("greetingMessage").textContent = "Greetings, " + user.username + "!";
          })
          .catch(error => {
            console.error("Error fetching user details:", error);
            document.getElementById("greetingMessage").textContent = "Failed to fetch user details";
          });


  document.getElementById("updateAccountLink").addEventListener("click", function(event) {
    event.preventDefault();
    var updateAccountUrl = '/api/users/update_account.html?userId=' + userId;

    window.location.href = updateAccountUrl;
  });

  document.getElementById("ownScheduleUrl").addEventListener("click", function(event) {
    event.preventDefault();
    var ownScheduleUrl = '/api/referee-schedules/referee_own_program.html?userId=' + userId;
    window.location.href = ownScheduleUrl;
  });

  document.getElementById("manageScoreUrl").addEventListener("click", function(event) {
    event.preventDefault();
    var manageScoreUrl = '/api/matches/manage_match_score.html?userId=' + userId;
    window.location.href = manageScoreUrl;
  });
</script>


</body>
</html>
