<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Referee Dashboard</title>
</head>
<body>
<h1>Welcome, Referee!</h1>
This is your schedule:
<br>

<table border="1">
  <tr>
    <th>Schedule ID</th>
    <th>Referee ID</th>
    <th>Match ID</th>
    <th>Match Date</th>
  </tr>

  <tr th:each="schedule : ${refereeSchedules}">
    <td th:text="${schedule.id}"></td>
    <td th:text="${schedule.refereeId}"></td>
    <td th:text="${schedule.matchId}"></td>
    <td th:id="'matchDate-' + ${schedule.matchId}" th:data-match-id="${schedule.matchId}"></td>
  </tr>


</table>

<script th:inline="javascript">
  /*<![CDATA[*/
  function formatDate(dateString) {
    const date = new Date(dateString);
    const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
    return date.toLocaleString('ro-RO', options);
  }

  function fetchMatchDate(matchId) {
    fetch("/api/matches/get_match_by_id/" + matchId)
            .then(response => {
              if (response.ok) {
                return response.json();
              } else {
                throw new Error('Failed to fetch match details');
              }
            })
            .then(match => {
              const matchDateCell = document.getElementById("matchDate-" + matchId);
              if (matchDateCell) {
                matchDateCell.textContent = formatDate(match.matchDate);
              }
            })
            .catch(error => {
              console.error(`Error fetching match details for match ID ${matchId}:`, error);
            });
  }

  document.addEventListener('DOMContentLoaded', function() {
    const matchCells = document.querySelectorAll('[id^="matchDate-"]');
    matchCells.forEach(function(cell) {
      var matchId = cell.getAttribute("data-match-id");
      fetchMatchDate(matchId);
    });
  });
  /*]]>*/
</script>

</body>
</html>
