<!DOCTYPE html>
<html>
<head>
  <title>Referee Dashboard</title>
</head>
<body>
<h1>Welcome to Referee Dashboard</h1>
<img class="img-fluid" src="https://cdn.discordapp.com/attachments/1064630844024692820/1223764845275385866/din.bmp?ex=661b0ad3&is=660895d3&hm=c91d1b5e4d92a2be7a822998dd37cfc6afe8486e4197b973e90be11bd3e987e8&" alt="">

<ul>
  <li><a href="/templates/referee_own_program.html">View Own Program</a></li>
  <li><a href="/templates/manage_match_score.html">Manage Match Score</a></li>
  <li><a href="/templates/update_account.html">Update Account Information</a></li>
</ul>
</body>
</html>
