<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Referee Dashboard</title>
</head>
<body>
<h1>Welcome, Referee!</h1>
<!-- Display the referee's schedule -->
This is your schedule:
<br>

<table border="1">
  <tr>
    <th>Schedule ID</th>
    <th>Referee ID</th>
    <th>Match ID</th>
    <th>Match Date</th> <!-- New column for match date -->
  </tr>
  <!-- Loop through referee schedules and display each match -->
  <tr th:each="schedule : ${refereeSchedules}">
    <td th:text="${schedule.id}"></td>
    <td th:text="${schedule.refereeId}"></td>
    <td th:text="${schedule.matchId}"></td>
    <td th:id="'matchDate-' + ${schedule.matchId}" th:data-match-id="${schedule.matchId}"></td> <!-- Add Thymeleaf expressions for match ID -->
  </tr>

  <!-- End of referee schedule -->
</table>

<script th:inline="javascript">
  /*<![CDATA[*/
  // Function to fetch match date based on match ID
  // Function to format the date in the specified format
  function formatDate(dateString) {
    const date = new Date(dateString);
    const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
    return date.toLocaleString('ro-RO', options);
  }

  // Function to fetch match date based on match ID
  function fetchMatchDate(matchId) {
    fetch("/api/matches/get_match_by_id/" + matchId)
            .then(response => {
              if (response.ok) {
                return response.json(); // Parse response body as JSON
              } else {
                throw new Error('Failed to fetch match details');
              }
            })
            .then(match => {
              // Display the formatted match date in the corresponding table cell
              const matchDateCell = document.getElementById("matchDate-" + matchId);
              if (matchDateCell) {
                matchDateCell.textContent = formatDate(match.matchDate);
              }
            })
            .catch(error => {
              console.error(`Error fetching match details for match ID ${matchId}:`, error);
            });
  }

  // Entry point
  document.addEventListener('DOMContentLoaded', function() {
    const matchCells = document.querySelectorAll('[id^="matchDate-"]');
    matchCells.forEach(function(cell) {
      var matchId = cell.getAttribute("data-match-id"); // Retrieve match ID from data attribute
      fetchMatchDate(matchId);
    });
  });
  /*]]>*/
</script>

</body>
</html>
